<!DOCTYPE html>
<html>
  <head>
    <title>About US</title>
  </head>
  <body>
    <div id="super-wrapper">
      <div id="wrapper">
        <header id="header">
          <h1>TravelPro</h1>
        </header>
        <div id="menu-button">
          <button id="close">X</button>
          <button id="menu">☰ Menu</button>
        </div>
      </div>
      <div id="menu-component">
          <ul id="navlink">
          <li><a id="nav" href="">Home</a></li>
          <li><a id="nav" href="">Covid Guidelines</a></li>
          <li><a id="nav" href="">About US</a></li>
          <li><a id="nav" href="">Contact US</a></li>
        </ul>
      </div>
      <div id="checklist-container">
        <button id="checklist">Write To Us 💬</button>
      </div>
      <div id="super-wrapper2">
      <div id="wrapperNew">
        <div id="head2">
          <h1>How we work for you</h1>
        </div>
        <div id="containerNew">
          <div id="contentNew">
            <div id="step" className="step">
              <h2>1.Ready</h2>
              <p>Start by Compelting our travel checklist which ensures your safety within the pandemic.</p>
            </div>
          </div>
          <div id="contentNew">
            <div id="step bgclr" className="step bgclr">
              <div id="flip-card2">
                <div id="flip-card-inner2">
                  <div id="flip-card-front2"></div>
                  <div id="flip-card-back2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="containerNew">    
          <div id="contentNew">
            <div id="step bgclr" className="step bgclr">
              <div id="flip-card2">
                <div id="flip-card-inner2">
                  <div id="flip-card-front2"></div>
                  <div id="flip-card-back2"></div>
                </div>
              </div>
            </div>
          </div>
          <div id="contentNew">
            <div id="step" className="step">
              <h2>2.Set</h2>
              <p> Explore the popular destinations and find your dream location.</p>
            </div>
          </div>
        </div>
        <div id="containerNew">                           
          <div id="contentNew">
            <div id="step" className="step">
              <h2>3.Go</h2>
              <p>You’re all set!.<a href="">Contact us</a> for further information.</p>
            </div>
          </div>
          <div id="contentNew">
            <div id="step bgclr" className="step bgclr">
              <div id="flip-card2">
                <div id="flip-card-inner2">
                  <div id="flip-card-front2"></div>
                  <div id="flip-card-back2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!--modal-->
      <div>
          <div id="bg"></div>
          <div id="pop">
              <button id="cancel">X</button>
        <div id="head">
          <h2>Write To Us</h2>
          <form >
              <label>Name</label>
              <input type="text" name="name" ></input>
              <span ><!-- Error message here --></span>
              <label>Email</label>
              <input type="text" name="email"  ></input>
              <span ><!-- Error message here --></span>
              <label>Message</label>
              <textarea name="message"  ></textarea>
              <span ><!-- Error message here --></span>      
            <button>Send</button>
          </form>
          </div>
          </div> 
      </div>
    </div>
  </body>
</html>