<!DOCTYPE html>
<html>
  <head>
    <title>Contact US</title>
  </head>
  <body>
    <div>
      <div id="wrapper">
        <header id="header">
          <h1>TravelPro</h1>
        </header>
        <div id="menu-button">
          <button id="close">X</button> 
          <button id="menu">☰ Menu</button>
        </div>
      </div>
      <div id="menu-component">
        <ul id="navlink">
          <li><a id="nav" href="">Home</a></li>
          <li><a id="nav" href="">Covid Guidelines</a></li>
          <li><a id="nav" href="">About US</a></li>
          <li><a id="nav" href="">Contact US</a></li>
        </ul>
      </div>  
      <div id="contact-container">
        <div id="contact-bg">
          <div id="contact-bg-content">
            <h2>Keep in touch</h2>
            <p>
              Want to keep in toch? We love words from you. Here is how you
              can contact us.
            </p>
          </div>
          <div id="contact-content">
            <div id="contact-details">
              <div id="contact-support">
                <h2>Call Us</h2>
                <p>
                  Stuck with doubts? Pick up the phone to get our support.
                </p>
                <hr />
                <p>+912143657698</p>
              </div>
            </div>
            <div id="contact-details">
              <div id="contact-support">
                <h2>Visit Us</h2>
                <p>TravelPro Box 564,<br/> Hogwarts Mars</p>
                <hr />
                <p>travelpro@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>