<!DOCTYPE html>
<html>
  <head>
    <title>Covid Guidance</title>
  </head>
  <body>
    <div id="guideline-wrapper">
      <div id="wrapper">
          <header id="header">
            <h3>TravelPro</h3>
          </header>
          <div id="menu-button">
            <button id="close">X</button> 
            <button id="menu">☰ Menu</button>
          </div>
        </div>
        <div id="menu-container-guidance">
       <!-- Menu -->
          <div id="menu-component">
              <ul id="navlink">
              <li><a id="nav" href="">Home</a></li>
              <li><a id="nav" href="">Covid Guidelines</a></li>
              <li><a id="nav" href="">About US</a></li>
              <li><a id="nav" href="">Contact US</a></li>
            </ul>
          </div>
       <!-- Menu -->
  
        </div>
      
    <div id="guidelines">
      <h3>IMPORTANT : ADHERE TO STATE GUIDELINES</h3>
      <div id="general">
        <h3>General Rules for travel across the country</h3>
      </div>
      <hr></hr>
      
    </div>
    
      <div id="state">
          <!-- 1 -->
          <div id="state-container">
            <h3>TamilNadu</h3
          </div>
          <!-- 2 -->
          <div id="state-container">
              <h3>Karnataka</h3>
          </div>
          <!-- 3 -->
          <div id="state-container">
              <h3>Kerala</h3>
          </div>
          <!-- 4 -->
          <div id="state-container">
              <h3>Goa</h3>
          </div>
          <!-- 5 -->
          <div id="state-container">
              <h3>Telangana</h3>
          </div>
          <!-- 6 -->
          <div id="state-container">
              <h3>Maharastra</h3>
          </div>
          <!-- 7 -->
          <div id="state-container">
              <h3>UttarPradesh</h3>
          </div>
          <!-- 8 -->
          <div id="state-container">
              <h3>Delhi</h3>
          </div>
          <!-- 9 -->
          <div id="state-container">
              <h3>Gujarat</h3>
          </div>
          <!-- 10 -->
          <div id="state-container">
              <h3>WestBengal</h3>
              <hr />
          </div>
      </div>
    <div id="guidelines"> 
    <div id="general">
        <h3>Instructions to Operators</h3>
      </div>
    </div>
  </div>
  </body>
</html>