<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <div id="home">
      <img id="bgimg" src="../assets/home.webm" alt="bg" />
      <div id="wrapper">
        <header id="header">
          <h1>TravelPro</h1>
        </header>
        <div id="menu-button">
          <button id="close">X</button>
          <button id="menu">☰ Menu</button>
        </div>
        <div id="menu-component">
            <ul id="navlink">
            <li><a id="nav">Home</a></li>
            <li><a id="nav">Covid Guidelines</a></li>
            <li><a id="nav">About US</a></li>
            <li><a id="nav">Contact US</a></li>
          </ul>
        </div>
      </div>
      <div id="container">
      <div id="welcome-container">
        <h3>Welcome!</h3>
        <p>Hi we are here to provide the safest and the most thrilling travel experiences within the pandemic</p>
      </div>
      <div id="awareness-container">
        <h3>Covid Awareness Notice</h3>
        <p>Wearing a mask over your nose and mouth is required on planes, buses, trains, and other forms of public<br/>
            transportation traveling into, within, or out of the countries and while indoors at public transports<br/>
            such as airports and stations. Travelers are not required to wear a mask in outdoor areas of a conveyance</p>
        <p>Follow all state and local recommendations and requirements, including mask wearing and social distancing.<br/>
            To ensure safe journey</p>
        <button id="contact">Click to know more</button>
      </div>
      </div>
      <div id="checklist-container">
        <img src="" alt="checklist"/>
        <button id="checklist">Travel Checklist</button>
      </div>
      <Modal>
        <button id="close1">X</button>
        <form>
        <h2>Travel Checklist</h2>
          <div id="check">
            <table>
              <tbody>
                <tr>
                  <td><label id="box">Should wear proper mask</label></td>
                  <td id="checker">
                    <input type="checkbox"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="hover">Use N95 mask or double masking</label>
                  </td>
                </tr>
                <tr>
                  <td><label id="box">Should carry one sanitiser</label></td>
                  <td id="checker">
                    <input type="checkbox"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="hover">Use good quality sanitizer</label>
                  </td>
                </tr>
                <tr>
                  <td><label id="box">Should carry Own water bottle</label></td>
                  <td id="checker">
                    <input type="checkbox"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="hover">Water bottles are not supposed to be shared</label>
                  </td>
                </tr>
                <tr>
                  <td><label id="box">Should carry own test reports</label></td>
                  <td id="checker">
                    <input type="checkbox"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="hover">Bring test reports which tested within one week</label>
                  </td>
                </tr>
                <tr>
                  <td><label id="box">Should carry affidavit</label></td>
                  <td id="checker">
                    <input type="checkbox"/>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label id="hover">Declaration that you are not coming from any containmentzone</label>
                  </td>
                </tr>
              </tbody>
            </table>
            <button>Popular Destinations</button>
          </div>
        </form>
      </Modal>
    </div>
  </body>
</html>