<!DOCTYPE html>
<html>
    <header>
        <title>Travel Guide</title>
    </header>
    <body>
        <div id="travel-wrapper">
            <div id="wrappers">
              <header>
                <h1>TravelPro</h1>
                <a id="home" href="">Home</a>
              </header>
            </div>
            <div id="popular">
              <h2>State Wise Popular Tourist Places in India</h2>
              <hr></hr>
              <div id="card-container">
                <!-- 1 -->
                  <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>TamilNadu</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                <!-- 2 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Karnataka</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 3 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Kerala</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 4 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Goa</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 5 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Telangana</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 6 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Maharashtra</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 7 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>UttarPradesh</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 8 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Delhi</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 9 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>Gujarat</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- 10 -->
                <div id="flip-card">
                    <div id="flip-card-inner">
                      <div id="flip-card-front">
                        <b>WestBengal</b>
                      </div>
                      <div id="flip-card-back">
                        <h4>Places to visit</h4>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </body>
</html>